<!--Code by Sam Lindsey, 07/22/2020*/-->

<!--With help from:-->
<!--https://www.w3schools.com/-->
<!--https://www.youtube.com/watch?v=oT2HOw3fWp4&list=PL4cUxeGkcC9jpvoYriLI0bY8DOgWZfi6u&index=3-->
<!--https://developer.mongodb.com/quickstart/node-crud-tutorial#node-tutorial-read-->
<!--https://docs.mongodb.com/manual/mongo/-->
<!--https://www.youtube.com/watch?v=ZKwrOXl5TDI-->
<!--https://makeawebsitehub.com/host-website-computer/-->
<!--https://stackoverflow.com/questions/24582338/how-can-i-include-css-files-using-node-express-and-ejs-->
<!--https://github.com/mschwarzmueller/nodejs-basics-tutorial/blob/master/09-mongodb/views/index.hbs-->
<!--https://stackoverflow.com/questions/48150072/fetching-data-from-mongodb-and-displaying-on-html-->
<!--https://www.thesitewizard.com/css/make-table-cells-same-size.shtml#:~:text=The%20CSS%20to%20make%20all,in%20width%20is%20as%20follows.&text=The%20table%2Dlayout%3A%20fixed%3B,%2C%20if%20you%20have%20them).-->
<!--https://www.google.com/search?q=hex+color+picker&oq=hex+color+picker&aqs=chrome..69i57j0l7.2709j0j7&sourceid=chrome&ie=UTF-8-->
<!--https://css-tricks.com/snippets/css/centering-a-website/-->
<!--https://stackoverflow.com/questions/9114664/spacing-between-elements-->
<!--https://www.websitebuilderexpert.com/hosting-websites/-->
<!--https://zellwk.com/blog/local-mongodb/#:~:text=To%20connect%20to%20your%20local,databases%20in%20your%20local%20MongoDB.-->

<!--And code from:-->
<!--https://github.com/mschwarzmueller-->
<!--https://www.w3schools.com/howto/howto_js_sort_table.asp-->
<!--as well as the default included files that come with an express project in Idea-->

<!DOCTYPE html>
<html>

<head>
    <title>ATA-Project</title>
</head>

<body>

<!--Button to load table-->
<a href="/get-data">
    <button id="loadButton" type="button"> Load Table!</button>
</a>

<br> <br>


<!-- Code below does no function... Tried sorting via internal JavaScript. -->
<!--<script>-->

<!--    var contact = {-->
<!--        firstName:null,-->
<!--        lastName:null,-->
<!--        streetAddress:null,-->
<!--        phoneNumber:null-->

<!--    }-->
<!--    var firstNames = [];-->
<!--    var lastNames = [];-->
<!--    var streetAddresses = [];-->
<!--    var phoneNumbers = [];-->
<!--    let i =0;-->
        <!--        {{# each items}}-->
<!--            firstNames[i] = "{{firstName}}";-->
<!--            lastNames[i] = "{{lastName}}";-->
<!--            streetAddresses[i] = "{{streetAddress}}";-->
<!--            phoneNumbers[i] = "{{phoneNumber}}";-->
<!--            i++;-->
        <!--        {{/each}}-->


<!--    function firstNamesSort() {-->
<!--        document.getElementById("firstNamesButton").innerHTML = "Sorted!";-->
<!--        var table = document.getElementById("contactTable");-->
<!--        console.log(firstNames);-->
<!--        firstNames.sort();-->
<!--        console.log(firstNames);-->
<!--    }-->

<!--var firstNames = new Array(20);-->
<!--console.log("hello");-->
<!--for (let i = 0; i < 20; i++) {-->
<!--    firstNames[i] = {{this.firstName}};-->
<!--    console.log(firstNames);-->
<!--}-->

<!--</script> -->

<!-- Button to sort by first name-->
<a href="/get-first">
    <button id="firstNamesButton" type="button"> First Name</button>
</a>

<!-- Button to sort by last name-->
<a href="/get-last">
    <button id="lastNamesButton" type="button"> Last Name</button>
</a>

<!-- Button to sort by address-->
<a href="/get-address">
    <button id="addressButton" type="button"> Address</button>
</a>

<!-- Button to sort by phone number-->
<a href="/get-phoneNumber">
    <button id="phoneButton" type="button"> Phone Number</button>
</a>

<br><br>

<!-- Create and populate the table with data from mongoDB-->
<table id="contactTable">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    {{# each items}}
        <tr>
            <td> {{this.firstName}} </td>
            <td> {{this.lastName}} </td>
            <td> {{this.streetAddress}} </td>
            <td> {{this.phoneNumber}} </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<br>

<!-- Filter by user input of first name-->
<div>
    <label for="firstName"> First Name: </label>
    <input type="text" id="firstNameInput" name='firstName' onkeyup="showFirst()" placeholder="Input first name?">
</div>

<!-- Filter by user input of last name-->
<div>
    <label for="lastName"> Last Name: </label>
    <input type="text" id="lastNameInput" name='lastName' onkeyup="showLast()" placeholder="Input last name?">
</div>

<!-- JavaScript to run the input fields that filter by first and last name-->
<script>

    //With for loops
    function showFirst() {
        var input, filter, table, tr, td;
        console.log("Filter by first");
        input = document.getElementById("firstNameInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("contactTable");
        tr = table.getElementsByTagName("tr");
        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function showLast() {
        var input, filter, table, tr, td;
        console.log("Filter by last");
        input = document.getElementById("lastNameInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("contactTable");
        tr = table.getElementsByTagName("tr");
        for (var i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    // Tried implementation without for loop... You would build your array from the table
    // and then call newArray.filter(input) and output the results.
    // function onlyFirst() {
    //     var input, filter, table, tr, trArray, td;
    //     console.log("Filter by first");
    //     input = document.getElementById("firstNameInput");
    //     filter = input.value.toUpperCase();
    //     table = document.getElementById("contactTable");
    //     tr = table.getElementsByTagName("tr");
    //     trArray = [];
    //     for(var i; i<20; i++){
    //         trArray[i] = tr;
    //     }
    //
    //    var filteredArray = trArray.filter(document.getElementById('firstNameInput'));
    //
    //     for(var i; i<20;i++){
    //         filteredArray[i].style.display="";
    //     }
    //
    // }

</script>

</body>
</html>

